@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);  
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
}

.ql-container {
  height: calc(100% - 43px) !important;
}

/* Устанавливаем ярко-фиолетовый цвет фона для выделенного текста */
.ql-editor ::selection {
  background-color: #1f2937;
  color: white; /* Белый цвет текста для контраста */
}

/* Для Firefox */
.ql-editor ::-moz-selection {
  background-color: #1f2937;
  color: white;
}

