@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
}

.ql-container {
  height: calc(100% - 43px) !important;
}

.ql-editor ::selection {
  background-color: #3c516e;
  color: white;
}

.ql-editor ::-moz-selection {
  background-color: #3c516e;
  color: white;
}

.ql-editor {
  font-size: 18.3px;
  line-height: 1.6;
}

.ql-editor .ql-size-20px {
  font-size: 20px;
}
.ql-editor .ql-size-24px {
  font-size: 24px;
}
.ql-editor .ql-size-28px {
  font-size: 28px;
}
.ql-editor .ql-size-32px {
  font-size: 32px;
}
